In [101]:
from src.MetadataGeneratorHiveQuery import *
import sqlparse
import re
from sqlparse.tokens import Token

In [94]:
utils = Utilities()
retrievals = Retrievals()
processes  = Processes()
gmhq = GenerateMetadataHiveQueries()

In [109]:
def is_wildcard(token:sqlparse.sql.Identifier):
    """
    """
    # --- considered: a.*
    try:
        if token.is_wildcard():
            print(1)
            return True
        else:
            pass
    except:
        pass

    # --- considered: *
    try:
        if token.ttype == Wildcard:
            print(2)
            return True
        else:
            pass
    except:
        pass

    return False

def retrieve_idenfitier_metadata_select(token:sqlparse.sql.Identifier):
    """
    """
    # --- initialization
    res = dict()

    # --- alias
    try:
        _res = token.has_alias()
    except:
        _res = False
    res['has_alias'] = _res

    # --- keyword
    try:
        _res = token.is_keyword
    except:
        _res = False
    res['is_keyword'] = _res

    # --- wildcard
    res['is_wildcard'] = is_wildcard(token)

    return res

def is_known_token(token:sqlparse.sql.Token):
    """
    """
    # --- initialization
    res = dict()

    # --- Number (Integer and Float)
    if token.ttype in Token.Number:
        _res = True
    else:
        _res = False
    res['is_number'] = _res

    # --- String (Single)
    if token.ttype in Token.String:
        _res = True
    else:
        _res = False
    res['is_string'] = _res

    # --- Case
    if isinstance(token, Case):
        _res = True
    else:
        _res = False
    res['is_case'] = _res

    # --- Function
    if isinstance(token, Function):
        _res = True
    else:
        _res = False
    res['is_function'] = _res

    return res

In [185]:
query = """select
case 
    when a = 1 
    then 1 
    else 
        case 
            when b = 1 
            then 1 
        end 
    end as c
from
table"""

In [186]:
stmt, = sqlparse.parse(query)

In [187]:
tokens = stmt.tokens

In [188]:
token = tokens[2]
token.tokens

[<Case 'case ...' at 0x7F82687DB2E0>,
 <Whitespace ' ' at 0x7F82687BCBE0>,
 <Keyword 'as' at 0x7F82687BCC40>,
 <Whitespace ' ' at 0x7F82687BCCA0>,
 <Identifier 'c' at 0x7F82687DB430>]

In [189]:
if isinstance(token, Identifier):

    # --- metadata
    tmp_meta = retrieve_idenfitier_metadata_select(token)
    
    # --- with alias    
    if tmp_meta['has_alias']:
        
        name_alias = token.get_alias()
        
        # --- load only the first token
        _token = token.token_first()
        _tmp = is_known_token(_token)
        
        # --- a as b / a.b as c
        if sum(_tmp.values()) == 0:
            
            # --- column name
            name = _token.get_real_name()
            
            # --- table alias
            try:
                name_parent = _token.get_parent_name()
            except:
                name_parent = None
            
            print(name_parent, name, name_alias)
            
        # --- main logic
        else:  
            key = [k for k,v in _tmp.items() if v == True][0]
            print(f'key is: {key}')
        
    # --- a or a.b        
    else:
        # --- column name
        name = token.get_real_name()
        
        # --- table alias
        try:
            name_parent = token.get_parent_name()
        except:
            name_parent = None 
            
        print(name_parent, name)
        
# ---
else:
    tmp = is_known_token(token)

    if sum(tmp.values()) == 1:
        key = [k for k,v in tmp.items() if v == True][0]
        print(f'key is: {key}')
        
    elif sum(tmp.values()) == 0:
        print('this is unknown token')
        
    elif sum(tmp.values()) > 1:
        print('logic has issue. more than one known token')
        
    else:
        print('unkonwn error')

key is: is_case

In [190]:
a = _token.get_cases(skip_ws = True)

In [191]:
a[0]

([<Keyword 'when' at 0x7F82691CCFA0>, <Comparison 'a = 1' at 0x7F82687DB580>],
 [<Keyword 'then' at 0x7F8268697EE0>, <Integer '1' at 0x7F8268697E20>])

In [192]:
a[1]

(None,
 [<Keyword 'else' at 0x7F8268AB0220>, <Case 'case ...' at 0x7F826878CF90>])

In [196]:
a[1][1][1].get_cases(skip_ws=True)

[([<Keyword 'when' at 0x7F8268AB0BE0>, <Comparison 'b = 1' at 0x7F82687DB5F0>],
  [<Keyword 'then' at 0x7F82687BC400>, <Integer '1' at 0x7F82687BC4C0>])]

In [68]:
query = """
SELECT
    a,
    min(a),
    cast(a as bigint),
    cast(a as bigint) as a_bigint,
    min(a) as a_min,
    case when a == 1 then 1 else 0 end as a_case
FROM
    table
""".strip()

query = re.sub('\s+', ' ', query)

In [72]:
stmt, = sqlparse.parse(query)

In [73]:
a = stmt.tokens[2]
a

In [74]:
a.tokens

[<Identifier 'a' at 0x7F826917BAC0>,
 <Punctuation ',' at 0x7F8269234E80>,
 <Whitespace ' ' at 0x7F8269234EE0>,
 <Function 'min(a)' at 0x7F826917B820>,
 <Punctuation ',' at 0x7F8269234760>,
 <Whitespace ' ' at 0x7F8269179040>,
 <Function 'max(a)' at 0x7F826917B890>,
 <Punctuation ',' at 0x7F8269179220>,
 <Whitespace ' ' at 0x7F8269179280>,
 <Function 'count(...' at 0x7F826917B900>,
 <Punctuation ',' at 0x7F8269179460>,
 <Whitespace ' ' at 0x7F82691794C0>,
 <Function 'cast(a...' at 0x7F826917B970>,
 <Punctuation ',' at 0x7F8269179820>,
 <Whitespace ' ' at 0x7F8269179880>,
 <Identifier 'cast(a...' at 0x7F826917E2E0>,
 <Punctuation ',' at 0x7F8269179D60>,
 <Whitespace ' ' at 0x7F8269179DC0>,
 <Identifier 'min(a)...' at 0x7F826917E350>,
 <Punctuation ',' at 0x7F8269184160>,
 <Whitespace ' ' at 0x7F82691841C0>,
 <Identifier 'case w...' at 0x7F826917E3C0>]

In [79]:
b = a[3]
b

In [ ]:
b.

In [3]:
def is_over_in_tokens(statement:sqlparse.sql.Statement):
    """
    """
    for token in statement:        
        if token.ttype == Keyword and token.value.lower() == 'over':
            return True  
    return False


def retrieve_indices_over(statement:sqlparse.sql.Statement):
    """
    """
    # --- initialization
    button = False
    res = defaultdict(list)
    
    # --- forward
    for i,token in enumerate(statement):
        
        # --- "over"
        if token.ttype == Keyword and token.value.lower() == 'over':
            button = True
            idx_button = i
            continue
            
        # --- previously seen "over"
        if button:
            _res = {}
            
            if isinstance(token, Identifier):
                _res['idx_context'] = i
                _res['is_IdentifierList'] = False
                button = False
                
            elif isinstance(token, IdentifierList):
                _res['idx_context'] = i
                _res['is_IdentifierList'] = True
                button = False
                
            elif isinstance(token, Parenthesis):
                _res['idx_context'] = i
                _res['is_IdentifierList'] = False
                button = False               
                
            # --- this token would be whitespace                
            else:
                continue
                
            # --- apppend only Identifier or IdentifierList                
            res[idx_button].append(_res)
            
    # --- backward
    for i,token in enumerate(statement[::-1]):
        
        # --- convert from backward intex to forward index
        j = len(statement.tokens) - i - 1
        
        # --- "target"
        if token.ttype == Keyword and token.value.lower() == 'over':
            button = True
            idx_button = j
            continue
            
        # --- previously seen "over"
        if button:
            _res = {}
            
            if isinstance(token, Identifier):
                _res['idx_function'] = j
                _res['is_IdentifierList'] = False
                button = False
                
            elif isinstance(token, IdentifierList):
                _res['idx_function'] = j
                _res['is_IdentifierList'] = True
                button = False
                
            # --- this token would be whitespace                
            else:
                continue
                
            # --- apppend only Identifier or IdentifierList                
            res[idx_button].append(_res)
            
    return dict(res)

In [4]:
tmp = """
SELECT
    col1,
    ROW_NUMBER() over (PARTITION BY col2 ORDER BY col3) AS col2_rownum,
    col3,
    lag(c2, c3) over (PARTITION BY col2 ORDER BY col3),  
    col4,
    las(c20, c30) over (PARTITION BY cast(col2 as timestamp) ORDER BY col3) AS col2_cast
FROM
    table1
"""
query = tmp.strip()
print(query)

SELECT
    col1,
    ROW_NUMBER() over (PARTITION BY col2 ORDER BY col3) AS col2_rownum,
    col3,
    lag(c2, c3) over (PARTITION BY col2 ORDER BY col3),
    col4,
    las(c20, c30) over (PARTITION BY cast(col2 as timestamp) ORDER BY col3) AS col2_cast
FROM
    table1

In [5]:
stmt, = sqlparse.parse(query)

In [6]:
tokens = stmt.tokens
tokens

[<DML 'SELECT' at 0x7F8258256E80>,
 <Newline ' ' at 0x7F8288322D60>,
 <Whitespace ' ' at 0x7F8288322EE0>,
 <Whitespace ' ' at 0x7F8288322FA0>,
 <Whitespace ' ' at 0x7F8288322E20>,
 <Whitespace ' ' at 0x7F826864F2E0>,
 <IdentifierList 'col1, ...' at 0x7F8258272970>,
 <Whitespace ' ' at 0x7F8258286760>,
 <Keyword 'over' at 0x7F82582867C0>,
 <Whitespace ' ' at 0x7F8258286820>,
 <IdentifierList '(PARTI...' at 0x7F82582729E0>,
 <Whitespace ' ' at 0x7F82582875E0>,
 <Keyword 'over' at 0x7F8258287640>,
 <Whitespace ' ' at 0x7F82582876A0>,
 <Parenthesis '(PARTI...' at 0x7F825825DAC0>,
 <Punctuation ',' at 0x7F8258287B20>,
 <Whitespace ' ' at 0x7F8258287B80>,
 <Whitespace ' ' at 0x7F8258287BE0>,
 <Newline ' ' at 0x7F8258287C40>,
 <Whitespace ' ' at 0x7F8258287CA0>,
 <Whitespace ' ' at 0x7F8258287D00>,
 <Whitespace ' ' at 0x7F8258287D60>,
 <Whitespace ' ' at 0x7F8258287DC0>,
 <IdentifierList 'col4, ...' at 0x7F8258272B30>,
 <Whitespace ' ' at 0x7F82582663A0>,
 <Keyword 'over' at 0x7F8258266400>,
 <Whitespace ' ' at 0x7F8258266460>,
 <Identifier '(PARTI...' at 0x7F8258272900>,
 <Newline ' ' at 0x7F8258266D00>,
 <Keyword 'FROM' at 0x7F8258266D60>,
 <Newline ' ' at 0x7F8258266DC0>,
 <Whitespace ' ' at 0x7F8258266E20>,
 <Whitespace ' ' at 0x7F8258266E80>,
 <Whitespace ' ' at 0x7F8258266EE0>,
 <Whitespace ' ' at 0x7F8258266F40>,
 <Identifier 'table1' at 0x7F8258272740>]

In [7]:
for i, token in enumerate(tokens):
    print('- - '*10)
    print(i)
    print(token.value)

- - - - - - - - - - - - - - - - - - - -
0
SELECT
- - - - - - - - - - - - - - - - - - - -
1


- - - - - - - - - - - - - - - - - - - -
2

- - - - - - - - - - - - - - - - - - - -
3

- - - - - - - - - - - - - - - - - - - -
4

- - - - - - - - - - - - - - - - - - - -
5

- - - - - - - - - - - - - - - - - - - -
6
col1,
    ROW_NUMBER()
- - - - - - - - - - - - - - - - - - - -
7

- - - - - - - - - - - - - - - - - - - -
8
over
- - - - - - - - - - - - - - - - - - - -
9

- - - - - - - - - - - - - - - - - - - -
10
(PARTITION BY col2 ORDER BY col3) AS col2_rownum,
    col3,
    lag(c2, c3)
- - - - - - - - - - - - - - - - - - - -
11

- - - - - - - - - - - - - - - - - - - -
12
over
- - - - - - - - - - - - - - - - - - - -
13

- - - - - - - - - - - - - - - - - - - -
14
(PARTITION BY col2 ORDER BY col3)
- - - - - - - - - - - - - - - - - - - -
15
,
- - - - - - - - - - - - - - - - - - - -
16

- - - - - - - - - - - - - - - - - - - -
17

- - - - - - - - - - - - - - - - - - - -
18


- - - - - - - - - - - - - - - - - - - -
19

- - - - - - - - - - - - - - - - - - - -
20

- - - - - - - - - - - - - - - - - - - -
21

- - - - - - - - - - - - - - - - - - - -
22

- - - - - - - - - - - - - - - - - - - -
23
col4,
    las(c20, c30)
- - - - - - - - - - - - - - - - - - - -
24

- - - - - - - - - - - - - - - - - - - -
25
over
- - - - - - - - - - - - - - - - - - - -
26

- - - - - - - - - - - - - - - - - - - -
27
(PARTITION BY cast(col2 as timestamp) ORDER BY col3) AS col2_cast
- - - - - - - - - - - - - - - - - - - -
28


- - - - - - - - - - - - - - - - - - - -
29
FROM
- - - - - - - - - - - - - - - - - - - -
30


- - - - - - - - - - - - - - - - - - - -
31

- - - - - - - - - - - - - - - - - - - -
32

- - - - - - - - - - - - - - - - - - - -
33

- - - - - - - - - - - - - - - - - - - -
34

- - - - - - - - - - - - - - - - - - - -
35
table1

In [8]:
is_over_in_tokens(stmt)

True

In [9]:
res = retrieve_indices_over(stmt)
res

{8: [{'idx_context': 10, 'is_IdentifierList': True},
  {'idx_function': 6, 'is_IdentifierList': True}],
 12: [{'idx_context': 14, 'is_IdentifierList': False},
  {'idx_function': 10, 'is_IdentifierList': True}],
 25: [{'idx_context': 27, 'is_IdentifierList': False},
  {'idx_function': 23, 'is_IdentifierList': True}]}

In [10]:
for idx_over in res:
    
    _res = res[idx_over]
    
    print('- - '*19)
    
    for item in _res:
        
        if 'idx_function' in item:
            
            if item['is_IdentifierList']:      
                token_function = tokens[ item['idx_function'] ].tokens[-1]
            else:
                token_function = tokens[ item['idx_function'] ] 
                
            print(f'function_name: {token_function.get_name()}')
            
            for tmp in token_function.get_parameters():
                print(f'parameter: {tmp.value}')
            
                
        elif 'idx_context' in item:
            
#             print(tokens[ item['idx_context'] ])
#             print('-. -. '*10)
#             print(tokens[ item['idx_context'] ].tokens)
#             print('=. =. '*10)
            
            if item['is_IdentifierList']:
                token_context = tokens[ item['idx_context'] ].tokens[0]
            else:
                token_context = tokens[ item['idx_context'] ]  
                
            alias = token_context.get_alias()
            
            print(f'alias: {alias}')

            if alias == None:
                print(token_context.value)
            else:
                print(token_context.tokens[0].value)

- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
alias: col2_rownum
(PARTITION BY col2 ORDER BY col3)
function_name: ROW_NUMBER
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
alias: None
(PARTITION BY col2 ORDER BY col3)
function_name: lag
parameter: c2
parameter: c3
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
alias: col2_cast
(PARTITION BY cast(col2 as timestamp) ORDER BY col3)
function_name: las
parameter: c20
parameter: c30

In [18]:
retrievals.retrieve_column_metadata_in_select(token_context.tokens[0])

{'column_name': None}

In [19]:
a = token_context.tokens[0]

In [23]:
retrievals.retrieve_column_metadata_in_select(a.tokens[5])

{'function': 'cast', 'value': 'cast(col2 as timestamp)', 'is_function': True}

In [29]:
a.tokens[5].tokens

[<Identifier 'cast' at 0x7F8258272430>,
 <Parenthesis '(col2 ...' at 0x7F825825DBA0>]

In [31]:
a.tokens[9]

In [32]:
a.value

'(PARTITION BY cast(col2 as timestamp) ORDER BY col3)'

In [37]:
b = a.tokens[5].get_parameters()[0]

In [39]:
b.get_name()

'timestamp'

In [41]:
b.

In [4]:
_res = utils.preprocess_sql_query(tmp)

In [5]:
stmt = _res[1]

In [6]:
for i,token in enumerate(stmt.tokens):
    gmhq.mark_known_tokens(token)
    
#     try:
#         gmhq.analyse_token(token)
#     except:
#         print(token.value)
    gmhq.analyse_token(token)

In [7]:
stmt = _res[0]['statement']

# --- prepare output
result = {
        'query': _res[idx_query]['query'],
        'statement': stmt,
        'metadata_lines': _res[idx_query]['metadata_lines'],

SyntaxError: unexpected EOF while parsing (<ipython-input-7-89a54c6cfe09>, line 8)

In [8]:
gmhq.analyse_query(stmt)

[{'token': 'select',
  'type': 'column',
  'value': 'col1 as a.col1_alias',
  'metadata': {'column_name': 'col1_alias',
   'column_name_before_rename': 'col1'}},
 {'token': 'FROM',
  'type': 'table',
  'value': 'table1',
  'metadata': {'schema_name': None,
   'table_name': 'table1',
   'table_alias': None}}]

In [2]:
idx_query = 0

In [3]:
file_path = './data/test.sql'

In [4]:
result = generate_metadata_from_hive_query(
    file_path = file_path,
    idx_query = idx_query
)

In [5]:
print(result[idx_query]['query'])

CREATE TABLE schema.ta AS
SELECT c4.cid,
       c4.cis,
       c4.dsc,
       c4.ctcpty,
       c4.stts,
       c4.edts
FROM
  (SELECT c3.cid,
          c3.cis,
          c3.dsc,
          c3.ctcpty,
          c3.mstts,
          c3.edts,
          lag(c3.mstts) OVER (PARTITION BY c3.cid,
                                           c3.cis,
                                           c3.dsc
                              ORDER BY c3.mstts) stts,
                             rownumber%2 AS rownumber_mod_2
   FROM
     (SELECT c2.cid,
             c2.cis,
             c2.dsc,
             c2.ctcpty,
             c2.mstts,
             c2.edts,
             row_number() OVER (PARTITION BY c2.cid,
                                             c2.cis,
                                             c2.dsc
                                ORDER BY c2.mstts) rownumber
      FROM
        (SELECT DISTINCT c1.cid,
                         c1.cis,
                         c1.dsc,
                         c1.ctcpty,
                         c1.edts,
                         c1.mstts,
                         IF (c1.ctcpty = lag(c1.ctcpty) OVER (PARTITION BY c1.cid,
                                                                           c1.cis,
                                                                           c1.dsc
                                                              ORDER BY c1.mstts), NULL,
                                                                                  'Y') flag_wrt_begin_asc,
                            IF (c1.ctcpty = lag(c1.ctcpty) OVER (PARTITION BY c1.cid,
                                                                              c1.cis,
                                                                              c1.dsc
                                                                 ORDER BY c1.mstts DESC), NULL,
                                                                                          'Y') flag_wrt_begin_desc
         FROM
           (SELECT DISTINCT bcm.cid,
                            bcm.cis,
                            bcm.dsc,
                            nvl(bcm.ctcpty, 'NA') ctcpty,
                            bcm.mstts,
                            bcm.edts
            FROM schama.bcc bcm
            WHERE cis != 'CCC'
              AND ctcp_cd_nk = 'BBB' ) c1) c2
      WHERE ((c2.flag_wrt_begin_asc = 'Y'
              AND c2.flag_wrt_begin_desc IS NULL)
             OR (c2.flag_wrt_begin_desc = 'Y'
                 AND c2.flag_wrt_begin_asc IS NULL)) ) c3) c4
WHERE c4.rownumber_mod_2 = 0
UNION ALL
SELECT c2.cid,
       c2.cis,
       c2.dsc,
       c2.ctcpty,
       c2.mstts stts,
       c2.edts cnt_cmptp_end_ts
FROM
  (SELECT DISTINCT c1.cid,
                   c1.cis,
                   c1.dsc,
                   c1.ctcpty,
                   c1.edts,
                   c1.mstts,
                   IF (c1.ctcpty = lag(c1.ctcpty) OVER (PARTITION BY c1.cid,
                                                                     c1.cis,
                                                                     c1.dsc
                                                        ORDER BY c1.mstts), NULL,
                                                                            'Y') flag_wrt_begin_asc,
                      IF (c1.ctcpty = lag(c1.ctcpty) OVER (PARTITION BY c1.cid,
                                                                        c1.cis,
                                                                        c1.dsc
                                                           ORDER BY c1.mstts DESC), NULL,
                                                                                    'Y') flag_wrt_begin_desc
   FROM
     (SELECT DISTINCT bcm.cid,
                      bcm.cis,
                      bcm.dsc,
                      nvl(bcm.ctcpty, 'NA') ctcpty,
                      bcm.mstts,
                      bcm.edts
      FROM tenant_insurance_cdsaimrd.brg_cnt_component bcm
      WHERE cis != 'CCC'
        AND ctcp_cd_nk = 'BBB' ) c1) c2
WHERE (c2.flag_wrt_begin_asc = 'Y'
       AND c2.flag_wrt_begin_desc = 'Y')

In [6]:
for item in result[idx_query]['metadata_query']:
    print(item)

{'token': 'create', 'type': 'table', 'value': 'schema.ta', 'metadta': {'schema_name': 'schema', 'table_name': 'ta', 'table_alias': None}}
{'token': 'select', 'type': 'column', 'value': 'c4.cid', 'metadata': {'column_name': 'cid', 'table_alias': 'c4'}}
{'token': 'select', 'type': 'column', 'value': 'c4.cis', 'metadata': {'column_name': 'cis', 'table_alias': 'c4'}}
{'token': 'select', 'type': 'column', 'value': 'c4.dsc', 'metadata': {'column_name': 'dsc', 'table_alias': 'c4'}}
{'token': 'select', 'type': 'column', 'value': 'c4.ctcpty', 'metadata': {'column_name': 'ctcpty', 'table_alias': 'c4'}}
{'token': 'select', 'type': 'column', 'value': 'c4.stts', 'metadata': {'column_name': 'stts', 'table_alias': 'c4'}}
{'token': 'select', 'type': 'column', 'value': 'c4.edts', 'metadata': {'column_name': 'edts', 'table_alias': 'c4'}}
{'token': 'FROM', 'type': 'subquery', 'value': [{'token': 'select', 'type': 'column', 'value': 'c3.cid', 'metadata': {'column_name': 'cid', 'table_alias': 'c3'}}, {'token': 'select', 'type': 'column', 'value': 'c3.cis', 'metadata': {'column_name': 'cis', 'table_alias': 'c3'}}, {'token': 'select', 'type': 'column', 'value': 'c3.dsc', 'metadata': {'column_name': 'dsc', 'table_alias': 'c3'}}, {'token': 'select', 'type': 'column', 'value': 'c3.ctcpty', 'metadata': {'column_name': 'ctcpty', 'table_alias': 'c3'}}, {'token': 'select', 'type': 'column', 'value': 'c3.mstts', 'metadata': {'column_name': 'mstts', 'table_alias': 'c3'}}, {'token': 'select', 'type': 'column', 'value': 'c3.edts', 'metadata': {'column_name': 'edts', 'table_alias': 'c3'}}, {'token': 'select', 'type': 'column', 'value': 'lag(c3.mstts)', 'metadata': {'function': 'lag', 'value': 'lag(c3.mstts)', 'is_function': True}}, {'token': 'select', 'type': 'column', 'value': '(partition by c3.cid, c3.cis, c3.dsc order by c3.mstts) stts', 'metadata': {'column_name': 'stts', 'is_partition_condition': True}}, {'token': 'select', 'type': 'column', 'value': 'rownumber%2 as rownumber_mod_2', 'metadata': {'column_name': 'rownumber_mod_2', 'is_partition_condition': True}}, {'token': 'FROM', 'type': 'subquery', 'value': [{'token': 'select', 'type': 'column', 'value': 'c2.cid', 'metadata': {'column_name': 'cid', 'table_alias': 'c2'}}, {'token': 'select', 'type': 'column', 'value': 'c2.cis', 'metadata': {'column_name': 'cis', 'table_alias': 'c2'}}, {'token': 'select', 'type': 'column', 'value': 'c2.dsc', 'metadata': {'column_name': 'dsc', 'table_alias': 'c2'}}, {'token': 'select', 'type': 'column', 'value': 'c2.ctcpty', 'metadata': {'column_name': 'ctcpty', 'table_alias': 'c2'}}, {'token': 'select', 'type': 'column', 'value': 'c2.mstts', 'metadata': {'column_name': 'mstts', 'table_alias': 'c2'}}, {'token': 'select', 'type': 'column', 'value': 'c2.edts', 'metadata': {'column_name': 'edts', 'table_alias': 'c2'}}, {'token': 'select', 'type': 'column', 'value': 'row_number()', 'metadata': {'function': 'row_number', 'value': 'row_number()', 'is_function': True}}, {'token': 'FROM', 'type': 'subquery', 'value': [{'token': 'select', 'type': 'column', 'value': 'c1.cid', 'metadata': {'column_name': 'cid', 'table_alias': 'c1'}}, {'token': 'select', 'type': 'column', 'value': 'c1.cis', 'metadata': {'column_name': 'cis', 'table_alias': 'c1'}}, {'token': 'select', 'type': 'column', 'value': 'c1.dsc', 'metadata': {'column_name': 'dsc', 'table_alias': 'c1'}}, {'token': 'select', 'type': 'column', 'value': 'c1.ctcpty', 'metadata': {'column_name': 'ctcpty', 'table_alias': 'c1'}}, {'token': 'select', 'type': 'column', 'value': 'c1.edts', 'metadata': {'column_name': 'edts', 'table_alias': 'c1'}}, {'token': 'select', 'type': 'column', 'value': 'c1.mstts', 'metadata': {'column_name': 'mstts', 'table_alias': 'c1'}}, {'token': 'select', 'type': 'column', 'value': 'if', 'is_function': True}, {'token': 'select', 'type': 'if', 'value': "( c1.ctcpty = lag(c1.ctcpty) over (partition by c1.cid, c1.cis, c1.dsc order by c1.mstts), NULL, 'Y' ) flag_wrt_begin_asc"}, {'token': 'select', 'type': 'if'}, {'token': 'select', 'type': 'if', 'value': "( c1.ctcpty = lag(c1.ctcpty) over (partition by c1.cid, c1.cis, c1.dsc order by c1.mstts desc), NULL, 'Y' ) flag_wrt_begin_desc"}, {'token': 'FROM', 'type': 'subquery', 'value': [{'token': 'select', 'type': 'column', 'value': 'bcm.cid', 'metadata': {'column_name': 'cid', 'table_alias': 'bcm'}}, {'token': 'select', 'type': 'column', 'value': 'bcm.cis', 'metadata': {'column_name': 'cis', 'table_alias': 'bcm'}}, {'token': 'select', 'type': 'column', 'value': 'bcm.dsc', 'metadata': {'column_name': 'dsc', 'table_alias': 'bcm'}}, {'token': 'select', 'type': 'column', 'value': "nvl(bcm.ctcpty,'NA') ctcpty", 'metadata': {'column_name': 'ctcpty', 'is_function': True}}, {'token': 'select', 'type': 'column', 'value': 'bcm.mstts', 'metadata': {'column_name': 'mstts', 'table_alias': 'bcm'}}, {'token': 'select', 'type': 'column', 'value': 'bcm.edts', 'metadata': {'column_name': 'edts', 'table_alias': 'bcm'}}, {'token': 'FROM', 'type': 'table', 'value': 'schama.bcc bcm', 'metadata': {'schema_name': 'schama', 'table_name': 'bcc', 'table_alias': 'bcm'}}], 'alias': 'c1'}], 'alias': 'c2'}], 'alias': 'c3'}], 'alias': 'c4'}
{'token': 'select', 'type': 'column', 'value': 'c2.cid', 'metadata': {'column_name': 'cid', 'table_alias': 'c2'}}
{'token': 'select', 'type': 'column', 'value': 'c2.cis', 'metadata': {'column_name': 'cis', 'table_alias': 'c2'}}
{'token': 'select', 'type': 'column', 'value': 'c2.dsc', 'metadata': {'column_name': 'dsc', 'table_alias': 'c2'}}
{'token': 'select', 'type': 'column', 'value': 'c2.ctcpty', 'metadata': {'column_name': 'ctcpty', 'table_alias': 'c2'}}
{'token': 'select', 'type': 'column', 'value': 'c2.mstts stts', 'metadata': {'column_name': 'stts', 'column_name_before_rename': 'mstts', 'table_alias': 'c2'}}
{'token': 'select', 'type': 'column', 'value': 'c2.edts cnt_cmptp_end_ts', 'metadata': {'column_name': 'cnt_cmptp_end_ts', 'column_name_before_rename': 'edts', 'table_alias': 'c2'}}
{'token': 'FROM', 'type': 'subquery', 'value': [{'token': 'select', 'type': 'column', 'value': 'c1.cid', 'metadata': {'column_name': 'cid', 'table_alias': 'c1'}}, {'token': 'select', 'type': 'column', 'value': 'c1.cis', 'metadata': {'column_name': 'cis', 'table_alias': 'c1'}}, {'token': 'select', 'type': 'column', 'value': 'c1.dsc', 'metadata': {'column_name': 'dsc', 'table_alias': 'c1'}}, {'token': 'select', 'type': 'column', 'value': 'c1.ctcpty', 'metadata': {'column_name': 'ctcpty', 'table_alias': 'c1'}}, {'token': 'select', 'type': 'column', 'value': 'c1.edts', 'metadata': {'column_name': 'edts', 'table_alias': 'c1'}}, {'token': 'select', 'type': 'column', 'value': 'c1.mstts', 'metadata': {'column_name': 'mstts', 'table_alias': 'c1'}}, {'token': 'select', 'type': 'column', 'value': 'if', 'is_function': True}, {'token': 'select', 'type': 'if', 'value': "( c1.ctcpty = lag(c1.ctcpty) over (partition by c1.cid, c1.cis, c1.dsc order by c1.mstts), NULL, 'Y' ) flag_wrt_begin_asc"}, {'token': 'select', 'type': 'if'}, {'token': 'select', 'type': 'if', 'value': "( c1.ctcpty = lag(c1.ctcpty) over (partition by c1.cid, c1.cis, c1.dsc order by c1.mstts desc), NULL, 'Y' ) flag_wrt_begin_desc"}, {'token': 'FROM', 'type': 'subquery', 'value': [{'token': 'select', 'type': 'column', 'value': 'bcm.cid', 'metadata': {'column_name': 'cid', 'table_alias': 'bcm'}}, {'token': 'select', 'type': 'column', 'value': 'bcm.cis', 'metadata': {'column_name': 'cis', 'table_alias': 'bcm'}}, {'token': 'select', 'type': 'column', 'value': 'bcm.dsc', 'metadata': {'column_name': 'dsc', 'table_alias': 'bcm'}}, {'token': 'select', 'type': 'column', 'value': "nvl(bcm.ctcpty,'NA') ctcpty", 'metadata': {'column_name': 'ctcpty', 'is_function': True}}, {'token': 'select', 'type': 'column', 'value': 'bcm.mstts', 'metadata': {'column_name': 'mstts', 'table_alias': 'bcm'}}, {'token': 'select', 'type': 'column', 'value': 'bcm.edts', 'metadata': {'column_name': 'edts', 'table_alias': 'bcm'}}, {'token': 'FROM', 'type': 'table', 'value': 'tenant_insurance_cdsaimrd.brg_cnt_component bcm', 'metadata': {'schema_name': 'tenant_insurance_cdsaimrd', 'table_name': 'brg_cnt_component', 'table_alias': 'bcm'}}], 'alias': 'c1'}], 'alias': 'c2'}

# ----

In [7]:
file_path = './data/test.sql'

In [8]:
result = generate_metadata_from_hive_query(
    file_path = file_path,
    idx_query = 0
)

In [9]:
from src.MetadataGeneratorHiveQuery import Processes, GenerateMetadataHiveQueries, Utilities
from src.MetadataGeneratorHiveQuery import generate_metadata_from_hive_query
import sqlparse

In [10]:
pros = Processes()
parser = GenerateMetadataHiveQueries()

In [11]:
file_path = './data/test.sql'
idx_query = 0

# file_path = './data/sample.sql'
# idx_query = 0

In [12]:
_res = parser.preprocess_sql_queries(parser.read_sql_file(file_path))

stmt = _res[idx_query]['statement']

In [13]:
tokens = stmt.tokens
tokens

[<DDL 'create' at 0x7FC05820B2E0>,
 <Whitespace ' ' at 0x7FC0581E1580>,
 <Keyword 'table' at 0x7FC0581F6220>,
 <Whitespace ' ' at 0x7FC0581F6280>,
 <Identifier 'schema...' at 0x7FC0B8139120>,
 <Whitespace ' ' at 0x7FC0581F6400>,
 <Keyword 'as' at 0x7FC0581F6460>,
 <Newline ' ' at 0x7FC0581F64C0>,
 <DML 'select' at 0x7FC0581F6580>,
 <Newline ' ' at 0x7FC0581F65E0>,
 <IdentifierList 'c4.cid...' at 0x7FC0B8142900>,
 <Newline ' ' at 0x7FC0581F30A0>,
 <Keyword 'from' at 0x7FC0581F3100>,
 <Newline ' ' at 0x7FC0581F3160>,
 <Identifier '( sele...' at 0x7FC0B8142270>,
 <Newline ' ' at 0x7FC0B812D640>,
 <Where 'where ...' at 0x7FC0581EFF20>,
 <Keyword 'union ...' at 0x7FC0B812DA60>,
 <Newline ' ' at 0x7FC0B812DAC0>,
 <Newline ' ' at 0x7FC0B812DB20>,
 <DML 'select' at 0x7FC0B812DB80>,
 <Newline ' ' at 0x7FC0B812DBE0>,
 <IdentifierList 'c2.cid...' at 0x7FC0B8142EB0>,
 <Newline ' ' at 0x7FC0B812E880>,
 <Keyword 'from' at 0x7FC0B812E8E0>,
 <Newline ' ' at 0x7FC0B812E940>,
 <Identifier '( sele...' at 0x7FC0B8142740>,
 <Newline ' ' at 0x7FC0B8135EE0>,
 <Where 'where ...' at 0x7FC0B81394A0>]

In [14]:
tokens[14].value

"(\nselect\nc3.cid, c3.cis, c3.dsc,\nc3.ctcpty,\nc3.mstts,\nc3.edts,\nlag(c3.mstts) over (partition by c3.cid, c3.cis, c3.dsc order by c3.mstts) stts,\nrownumber%2 as rownumber_mod_2\nfrom\n(\nselect\nc2.cid, c2.cis, c2.dsc,\nc2.ctcpty,\nc2.mstts,\nc2.edts,\nrow_number() over (partition by c2.cid, c2.cis, c2.dsc order by c2.mstts) rownumber\nfrom\n(\nselect\ndistinct\nc1.cid, c1.cis, c1.dsc,\nc1.ctcpty,\nc1.edts,\nc1.mstts\n,if\n(\nc1.ctcpty = lag(c1.ctcpty) over (partition by c1.cid, c1.cis, c1.dsc order by c1.mstts),\nNULL, 'Y'\n) flag_wrt_begin_asc\n,if\n(\nc1.ctcpty = lag(c1.ctcpty) over (partition by c1.cid, c1.cis, c1.dsc order by c1.mstts desc),\nNULL, 'Y'\n) flag_wrt_begin_desc\nfrom\n(\nselect\ndistinct\nbcm.cid, bcm.cis, bcm.dsc,\nnvl(bcm.ctcpty,'NA') ctcpty,\nbcm.mstts,\nbcm.edts\nfrom\nschama.bcc bcm\nwhere\ncis != 'CCC' and ctcp_cd_nk = 'BBB'\n) c1\n) c2\nwhere\n(\n(c2.flag_wrt_begin_asc = 'Y' and c2.flag_wrt_begin_desc is null)\nor (c2.flag_wrt_begin_desc = 'Y' and c2.flag_wrt_begin_asc is null)\n)\n) c3\n) c4"

In [15]:
res = []
tokens = stmt.tokens
idx = -1

while idx < len(tokens) - 1:
    idx += 1
    token = tokens[idx]

    # --- scan token
    pros.scan_known_tokens(token)
    
    try:
        tmp = parser.analyse_token(token)
    except:
        print(token.value)

    res.extend( parser.analyse_token(token) )

In [16]:
res

[]

In [17]:
_res = parser.preprocess_sql_queries(parser.read_sql_file(file_path))

In [18]:
parser.analyse_query(_res[0]['statement'])

[{'token': 'create',
  'type': 'table',
  'value': 'schema.ta',
  'metadta': {'schema_name': 'schema',
   'table_name': 'ta',
   'table_alias': None}},
 {'token': 'select',
  'type': 'column',
  'value': 'c4.cid',
  'metadata': {'column_name': 'cid', 'table_alias': 'c4'}},
 {'token': 'select',
  'type': 'column',
  'value': 'c4.cis',
  'metadata': {'column_name': 'cis', 'table_alias': 'c4'}},
 {'token': 'select',
  'type': 'column',
  'value': 'c4.dsc',
  'metadata': {'column_name': 'dsc', 'table_alias': 'c4'}},
 {'token': 'select',
  'type': 'column',
  'value': 'c4.ctcpty',
  'metadata': {'column_name': 'ctcpty', 'table_alias': 'c4'}},
 {'token': 'select',
  'type': 'column',
  'value': 'c4.stts',
  'metadata': {'column_name': 'stts', 'table_alias': 'c4'}},
 {'token': 'select',
  'type': 'column',
  'value': 'c4.edts',
  'metadata': {'column_name': 'edts', 'table_alias': 'c4'}},
 {'token': 'FROM',
  'type': 'subquery',
  'value': [{'token': 'select',
    'type': 'column',
    'value': 'c3.cid',
    'metadata': {'column_name': 'cid', 'table_alias': 'c3'}},
   {'token': 'select',
    'type': 'column',
    'value': 'c3.cis',
    'metadata': {'column_name': 'cis', 'table_alias': 'c3'}},
   {'token': 'select',
    'type': 'column',
    'value': 'c3.dsc',
    'metadata': {'column_name': 'dsc', 'table_alias': 'c3'}},
   {'token': 'select',
    'type': 'column',
    'value': 'c3.ctcpty',
    'metadata': {'column_name': 'ctcpty', 'table_alias': 'c3'}},
   {'token': 'select',
    'type': 'column',
    'value': 'c3.mstts',
    'metadata': {'column_name': 'mstts', 'table_alias': 'c3'}},
   {'token': 'select',
    'type': 'column',
    'value': 'c3.edts',
    'metadata': {'column_name': 'edts', 'table_alias': 'c3'}},
   {'token': 'select',
    'type': 'column',
    'value': 'lag(c3.mstts)',
    'metadata': {'function': 'lag',
     'value': 'lag(c3.mstts)',
     'is_function': True}},
   {'token': 'select',
    'type': 'column',
    'value': '(partition by c3.cid, c3.cis, c3.dsc order by c3.mstts) stts',
    'metadata': {'column_name': 'stts', 'is_partition_condition': True}},
   {'token': 'select',
    'type': 'column',
    'value': 'rownumber%2 as rownumber_mod_2',
    'metadata': {'column_name': 'rownumber_mod_2',
     'is_partition_condition': True}},
   {'token': 'FROM',
    'type': 'subquery',
    'value': [{'token': 'select',
      'type': 'column',
      'value': 'c2.cid',
      'metadata': {'column_name': 'cid', 'table_alias': 'c2'}},
     {'token': 'select',
      'type': 'column',
      'value': 'c2.cis',
      'metadata': {'column_name': 'cis', 'table_alias': 'c2'}},
     {'token': 'select',
      'type': 'column',
      'value': 'c2.dsc',
      'metadata': {'column_name': 'dsc', 'table_alias': 'c2'}},
     {'token': 'select',
      'type': 'column',
      'value': 'c2.ctcpty',
      'metadata': {'column_name': 'ctcpty', 'table_alias': 'c2'}},
     {'token': 'select',
      'type': 'column',
      'value': 'c2.mstts',
      'metadata': {'column_name': 'mstts', 'table_alias': 'c2'}},
     {'token': 'select',
      'type': 'column',
      'value': 'c2.edts',
      'metadata': {'column_name': 'edts', 'table_alias': 'c2'}},
     {'token': 'select',
      'type': 'column',
      'value': 'row_number()',
      'metadata': {'function': 'row_number',
       'value': 'row_number()',
       'is_function': True}},
     {'token': 'FROM',
      'type': 'subquery',
      'value': [{'token': 'select',
        'type': 'column',
        'value': 'c1.cid',
        'metadata': {'column_name': 'cid', 'table_alias': 'c1'}},
       {'token': 'select',
        'type': 'column',
        'value': 'c1.cis',
        'metadata': {'column_name': 'cis', 'table_alias': 'c1'}},
       {'token': 'select',
        'type': 'column',
        'value': 'c1.dsc',
        'metadata': {'column_name': 'dsc', 'table_alias': 'c1'}},
       {'token': 'select',
        'type': 'column',
        'value': 'c1.ctcpty',
        'metadata': {'column_name': 'ctcpty', 'table_alias': 'c1'}},
       {'token': 'select',
        'type': 'column',
        'value': 'c1.edts',
        'metadata': {'column_name': 'edts', 'table_alias': 'c1'}},
       {'token': 'select',
        'type': 'column',
        'value': 'c1.mstts',
        'metadata': {'column_name': 'mstts', 'table_alias': 'c1'}},
       {'token': 'select',
        'type': 'column',
        'value': 'if',
        'is_function': True},
       {'token': 'select',
        'type': 'if',
        'value': "( c1.ctcpty = lag(c1.ctcpty) over (partition by c1.cid, c1.cis, c1.dsc order by c1.mstts), NULL, 'Y' ) flag_wrt_begin_asc"},
       {'token': 'select', 'type': 'if'},
       {'token': 'select',
        'type': 'if',
        'value': "( c1.ctcpty = lag(c1.ctcpty) over (partition by c1.cid, c1.cis, c1.dsc order by c1.mstts desc), NULL, 'Y' ) flag_wrt_begin_desc"},
       {'token': 'FROM',
        'type': 'subquery',
        'value': [{'token': 'select',
          'type': 'column',
          'value': 'bcm.cid',
          'metadata': {'column_name': 'cid', 'table_alias': 'bcm'}},
         {'token': 'select',
          'type': 'column',
          'value': 'bcm.cis',
          'metadata': {'column_name': 'cis', 'table_alias': 'bcm'}},
         {'token': 'select',
          'type': 'column',
          'value': 'bcm.dsc',
          'metadata': {'column_name': 'dsc', 'table_alias': 'bcm'}},
         {'token': 'select',
          'type': 'column',
          'value': "nvl(bcm.ctcpty,'NA') ctcpty",
          'metadata': {'column_name': 'ctcpty', 'is_function': True}},
         {'token': 'select',
          'type': 'column',
          'value': 'bcm.mstts',
          'metadata': {'column_name': 'mstts', 'table_alias': 'bcm'}},
         {'token': 'select',
          'type': 'column',
          'value': 'bcm.edts',
          'metadata': {'column_name': 'edts', 'table_alias': 'bcm'}},
         {'token': 'FROM',
          'type': 'table',
          'value': 'schama.bcc bcm',
          'metadata': {'schema_name': 'schama',
           'table_name': 'bcc',
           'table_alias': 'bcm'}}],
        'alias': 'c1'}],
      'alias': 'c2'}],
    'alias': 'c3'}],
  'alias': 'c4'},
 {'token': 'select',
  'type': 'column',
  'value': 'c2.cid',
  'metadata': {'column_name': 'cid', 'table_alias': 'c2'}},
 {'token': 'select',
  'type': 'column',
  'value': 'c2.cis',
  'metadata': {'column_name': 'cis', 'table_alias': 'c2'}},
 {'token': 'select',
  'type': 'column',
  'value': 'c2.dsc',
  'metadata': {'column_name': 'dsc', 'table_alias': 'c2'}},
 {'token': 'select',
  'type': 'column',
  'value': 'c2.ctcpty',
  'metadata': {'column_name': 'ctcpty', 'table_alias': 'c2'}},
 {'token': 'select',
  'type': 'column',
  'value': 'c2.mstts stts',
  'metadata': {'column_name': 'stts',
   'column_name_before_rename': 'mstts',
   'table_alias': 'c2'}},
 {'token': 'select',
  'type': 'column',
  'value': 'c2.edts cnt_cmptp_end_ts',
  'metadata': {'column_name': 'cnt_cmptp_end_ts',
   'column_name_before_rename': 'edts',
   'table_alias': 'c2'}},
 {'token': 'FROM',
  'type': 'subquery',
  'value': [{'token': 'select',
    'type': 'column',
    'value': 'c1.cid',
    'metadata': {'column_name': 'cid', 'table_alias': 'c1'}},
   {'token': 'select',
    'type': 'column',
    'value': 'c1.cis',
    'metadata': {'column_name': 'cis', 'table_alias': 'c1'}},
   {'token': 'select',
    'type': 'column',
    'value': 'c1.dsc',
    'metadata': {'column_name': 'dsc', 'table_alias': 'c1'}},
   {'token': 'select',
    'type': 'column',
    'value': 'c1.ctcpty',
    'metadata': {'column_name': 'ctcpty', 'table_alias': 'c1'}},
   {'token': 'select',
    'type': 'column',
    'value': 'c1.edts',
    'metadata': {'column_name': 'edts', 'table_alias': 'c1'}},
   {'token': 'select',
    'type': 'column',
    'value': 'c1.mstts',
    'metadata': {'column_name': 'mstts', 'table_alias': 'c1'}},
   {'token': 'select', 'type': 'column', 'value': 'if', 'is_function': True},
   {'token': 'select',
    'type': 'if',
    'value': "( c1.ctcpty = lag(c1.ctcpty) over (partition by c1.cid, c1.cis, c1.dsc order by c1.mstts), NULL, 'Y' ) flag_wrt_begin_asc"},
   {'token': 'select', 'type': 'if'},
   {'token': 'select',
    'type': 'if',
    'value': "( c1.ctcpty = lag(c1.ctcpty) over (partition by c1.cid, c1.cis, c1.dsc order by c1.mstts desc), NULL, 'Y' ) flag_wrt_begin_desc"},
   {'token': 'FROM',
    'type': 'subquery',
    'value': [{'token': 'select',
      'type': 'column',
      'value': 'bcm.cid',
      'metadata': {'column_name': 'cid', 'table_alias': 'bcm'}},
     {'token': 'select',
      'type': 'column',
      'value': 'bcm.cis',
      'metadata': {'column_name': 'cis', 'table_alias': 'bcm'}},
     {'token': 'select',
      'type': 'column',
      'value': 'bcm.dsc',
      'metadata': {'column_name': 'dsc', 'table_alias': 'bcm'}},
     {'token': 'select',
      'type': 'column',
      'value': "nvl(bcm.ctcpty,'NA') ctcpty",
      'metadata': {'column_name': 'ctcpty', 'is_function': True}},
     {'token': 'select',
      'type': 'column',
      'value': 'bcm.mstts',
      'metadata': {'column_name': 'mstts', 'table_alias': 'bcm'}},
     {'token': 'select',
      'type': 'column',
      'value': 'bcm.edts',
      'metadata': {'column_name': 'edts', 'table_alias': 'bcm'}},
     {'token': 'FROM',
      'type': 'table',
      'value': 'tenant_insurance_cdsaimrd.brg_cnt_component bcm',
      'metadata': {'schema_name': 'tenant_insurance_cdsaimrd',
       'table_name': 'brg_cnt_component',
       'table_alias': 'bcm'}}],
    'alias': 'c1'}],
  'alias': 'c2'}]

In [ ]:
import sqlparse

In [ ]:
file_path_0 = './data/sample_subquery.sql'
res_0 = parser.preprocess_sql_query(parser.read_sql_file(file_path_0))
stmt_0 = res_0[1]

In [ ]:
file_path_1 = './data/test.sql'
res_1 = parser.preprocess_sql_query(parser.read_sql_file(file_path_1))
stmt_1 = res_1[1]

In [ ]:
stmt_0.tokens

In [ ]:
stmt_1.tokens

In [ ]:
for token in stmt_1.tokens:
    parser.scan_known_tokens(token)
    print(token)
    print(parser.switchs)

In [ ]:
from sqlparse.sql import Identifier

for token in stmt_1.tokens:
    if isinstance(token, Identifier):

        if parser.switchs == [False, True, False, False, False, False, False, False, False, False, False]:
            break 
    parser.scan_known_tokens(token)

In [ ]:
utils = Utilities()

In [ ]:
_query = utils.cleanup_string(token.tokens[0].value[1:-1])
_query += ';'

In [ ]:
_statement, = sqlparse.parse(_query)

In [ ]:
parser_sub = GenerateMetadataHiveQueries()

In [ ]:
_tokens = _statement.tokens

In [ ]:
for token in _tokens:
    parser.scan_known_tokens(token)
    print(token)
    print(parser.switchs)
    print(parser.is_partition)
    
    tmp = parser.analyse_token(token)
    print(tmp)

In [ ]:
_tokens

In [ ]:
a = _tokens[2].tokens[-1]
a.value

In [ ]:
a.is_group

In [ ]:
b = _tokens[6].tokens[0]

In [ ]:
b.tokens[0].tokens

In [19]:
!which python

/Users/tomoyawada/opt/anaconda3/bin/python

In [25]:
_query = """select
    c3.cid, 
    c3.cis, 
    c3.dsc,
    c3.ctcpty,
    c3.mstts,
    c3.edts,
    lag(c3.mstts) over (partition by c3.cid, c3.cis, c3.dsc order by c3.mstts) stts, 
    rownumber%2 as rownumber_mod_2
from
(
    select
        c2.cid, 
        c2.cis, 
        c2.dsc,
        c2.ctcpty,
        c2.mstts,
        c2.edts,
        row_number() over (partition by c2.cid, c2.cis, c2.dsc order by c2.mstts) rownumber
    from
    (
        select distinct
            c1.cid, 
            c1.cis, 
            c1.dsc,
            c1.ctcpty,
            c1.edts,
            c1.mstts,
            if
            (
                c1.ctcpty = lag(c1.ctcpty) over (partition by c1.cid, c1.cis, c1.dsc order by c1.mstts),
                NULL, 
                'Y'
            ) flag_wrt_begin_asc,
            if
            (
                c1.ctcpty = lag(c1.ctcpty) over (partition by c1.cid, c1.cis, c1.dsc order by c1.mstts desc),
                NULL, 
                'Y'
            ) flag_wrt_begin_desc
        from
        (
            select distinct
                bcm.cid, 
                bcm.cis, 
                bcm.dsc,
                nvl(bcm.ctcpty,'NA') ctcpty,
                bcm.mstts,
                bcm.edts
            from
                schama.bcc bcm
            where
                cis != 'CCC' 
                and ctcp_cd_nk = 'BBB'
        ) c1
    ) c2
where
(
    (c2.flag_wrt_begin_asc = 'Y' and c2.flag_wrt_begin_desc is null)
    or (c2.flag_wrt_begin_desc = 'Y' and c2.flag_wrt_begin_asc is null)\n)
) c3;"""

In [56]:
stmt, = sqlparse.parse(_query)

In [27]:
stmt.tokens

[<DML 'select' at 0x7F7DB954BE20>,
 <Newline ' ' at 0x7F7DB9553100>,
 <Whitespace ' ' at 0x7F7DB95531C0>,
 <Whitespace ' ' at 0x7F7DB9553220>,
 <Whitespace ' ' at 0x7F7DB9553280>,
 <Whitespace ' ' at 0x7F7DB95532E0>,
 <IdentifierList 'c3.cid...' at 0x7F7DB956F900>,
 <Whitespace ' ' at 0x7F7DB9554AC0>,
 <Keyword 'over' at 0x7F7DB9554B20>,
 <Whitespace ' ' at 0x7F7DB9554B80>,
 <IdentifierList '(parti...' at 0x7F7DB956F970>,
 <Newline ' ' at 0x7F7DB95569A0>,
 <Keyword 'from' at 0x7F7DB9556A00>,
 <Newline ' ' at 0x7F7DB9556A60>,
 <Identifier '( ...' at 0x7F7DB956F7B0>,
 <Punctuation ';' at 0x7F7DB956B580>]

In [30]:
a = stmt.tokens[10]
a

In [34]:
b = a.value

In [33]:
b.split(',')

['(partition by c3.cid',
 ' c3.cis',
 ' c3.dsc order by c3.mstts) stts',
 ' rownumber%2 as rownumber_mod_2']

In [48]:
c = list(a.get_identifiers())

In [51]:
c[0].get_alias()

'stts'

In [52]:
c[0].value

'(partition by c3.cid, c3.cis, c3.dsc order by c3.mstts) stts'

In [55]:
c[0].tokens

[<Parenthesis '(parti...' at 0x7F7DB95503C0>,
 <Whitespace ' ' at 0x7F7DB9556580>,
 <Identifier 'stts' at 0x7F7D784B19E0>]

In [ ]:
b = list(a.get_identifiers())[-1]
b

In [ ]:
isinstance(b, sqlparse.sql.Function)

In [ ]:
b.value

In [ ]:
for i,token in enumerate(stmt.tokens):
#     print(f'----- {i}')
    if i != 10:
        continue
    parser.scan_known_tokens(token)
    print(token)
    print(parser.switchs)
    print(parser.is_partition)
    
    tmp = parser.analyse_token(token)
    print(tmp)

In [ ]:
token

In [ ]:
token.tokens[0]

In [11]:
_query = """select 
distinct
    c1.cid, c1.cis, c1.dsc,
    c1.ctcpty,
    c1.edts,
    c1.mstts
    ,if
    (
        c1.ctcpty = lag(c1.ctcpty) over (partition by c1.cid, c1.cis, c1.dsc order by c1.mstts),
        NULL, 'Y'
    ) flag_wrt_begin_asc
    ,if
    (
        c1.ctcpty = lag(c1.ctcpty) over (partition by c1.cid, c1.cis, c1.dsc order by c1.mstts desc),
        NULL, 'Y'
    ) flag_wrt_begin_desc
from
    table;"""

In [12]:
print(_query)

select
distinct
    c1.cid, c1.cis, c1.dsc,
    c1.ctcpty,
    c1.edts,
    c1.mstts
    ,if
    (
        c1.ctcpty = lag(c1.ctcpty) over (partition by c1.cid, c1.cis, c1.dsc order by c1.mstts),
        NULL, 'Y'
    ) flag_wrt_begin_asc
    ,if
    (
        c1.ctcpty = lag(c1.ctcpty) over (partition by c1.cid, c1.cis, c1.dsc order by c1.mstts desc),
        NULL, 'Y'
    ) flag_wrt_begin_desc
from
    table;

In [13]:
stmt, = sqlparse.parse(_query)

In [14]:
for i,token in enumerate(stmt.tokens):
    print(f'----- {i}')
#     if i != 10:
#         continue
    parser.scan_known_tokens(token)
    print(token)
    print(token.ttype)
    print(parser.switchs)
    print(parser.is_if)
    
    tmp = parser.analyse_token(token)
    print(tmp)

----- 0
select
Token.Keyword.DML
[False, False, False, False, False, False, False, False, True, False, False]
False
[]
----- 1

Token.Text.Whitespace
[False, False, False, False, False, False, False, False, True, False, False]
False
[]
----- 2


Token.Text.Whitespace.Newline
[False, False, False, False, False, False, False, False, True, False, False]
False
[]
----- 3
distinct
Token.Keyword
[False, False, False, False, False, False, False, False, True, False, False]
False
[]
----- 4


Token.Text.Whitespace.Newline
[False, False, False, False, False, False, False, False, True, False, False]
False
[]
----- 5

Token.Text.Whitespace
[False, False, False, False, False, False, False, False, True, False, False]
False
[]
----- 6

Token.Text.Whitespace
[False, False, False, False, False, False, False, False, True, False, False]
False
[]
----- 7

Token.Text.Whitespace
[False, False, False, False, False, False, False, False, True, False, False]
False
[]
----- 8

Token.Text.Whitespace
[False, False, False, False, False, False, False, False, True, False, False]
False
[]
----- 9
c1.cid, c1.cis, c1.dsc,
    c1.ctcpty,
    c1.edts,
    c1.mstts
    ,if
None
[False, False, False, False, False, False, False, False, True, False, False]
False
[{'token': 'select', 'type': 'column', 'value': 'c1.cid', 'metadata': {'column_name': 'cid', 'table_alias': 'c1'}}, {'token': 'select', 'type': 'column', 'value': 'c1.cis', 'metadata': {'column_name': 'cis', 'table_alias': 'c1'}}, {'token': 'select', 'type': 'column', 'value': 'c1.dsc', 'metadata': {'column_name': 'dsc', 'table_alias': 'c1'}}, {'token': 'select', 'type': 'column', 'value': 'c1.ctcpty', 'metadata': {'column_name': 'ctcpty', 'table_alias': 'c1'}}, {'token': 'select', 'type': 'column', 'value': 'c1.edts', 'metadata': {'column_name': 'edts', 'table_alias': 'c1'}}, {'token': 'select', 'type': 'column', 'value': 'c1.mstts', 'metadata': {'column_name': 'mstts', 'table_alias': 'c1'}}, {'token': 'select', 'type': 'column', 'value': 'if', 'is_function': True}]
----- 10


Token.Text.Whitespace.Newline
[False, False, False, False, False, False, False, False, True, False, False]
True
[]
----- 11

Token.Text.Whitespace
[False, False, False, False, False, False, False, False, True, False, False]
True
[]
----- 12

Token.Text.Whitespace
[False, False, False, False, False, False, False, False, True, False, False]
True
[]
----- 13

Token.Text.Whitespace
[False, False, False, False, False, False, False, False, True, False, False]
True
[]
----- 14

Token.Text.Whitespace
[False, False, False, False, False, False, False, False, True, False, False]
True
[]
----- 15
(
        c1.ctcpty = lag(c1.ctcpty) over (partition by c1.cid, c1.cis, c1.dsc order by c1.mstts),
        NULL, 'Y'
    ) flag_wrt_begin_asc
    ,if
None
[False, False, False, False, False, False, False, False, True, False, False]
True
herere
[[{'token': 'select', 'type': 'if', 'value': "( c1.ctcpty = lag(c1.ctcpty) over (partition by c1.cid, c1.cis, c1.dsc order by c1.mstts), NULL, 'Y' ) flag_wrt_begin_asc"}, {'token': 'select', 'type': 'if'}]]
----- 16


Token.Text.Whitespace.Newline
[False, False, False, False, False, False, False, False, True, False, False]
True
[]
----- 17

Token.Text.Whitespace
[False, False, False, False, False, False, False, False, True, False, False]
True
[]
----- 18

Token.Text.Whitespace
[False, False, False, False, False, False, False, False, True, False, False]
True
[]
----- 19

Token.Text.Whitespace
[False, False, False, False, False, False, False, False, True, False, False]
True
[]
----- 20

Token.Text.Whitespace
[False, False, False, False, False, False, False, False, True, False, False]
True
[]
----- 21
(
        c1.ctcpty = lag(c1.ctcpty) over (partition by c1.cid, c1.cis, c1.dsc order by c1.mstts desc),
        NULL, 'Y'
    ) flag_wrt_begin_desc
None
[False, False, False, False, False, False, False, False, True, False, False]
True
[[{'token': 'select', 'type': 'if', 'value': "( c1.ctcpty = lag(c1.ctcpty) over (partition by c1.cid, c1.cis, c1.dsc order by c1.mstts desc), NULL, 'Y' ) flag_wrt_begin_desc"}]]
----- 22


Token.Text.Whitespace.Newline
[False, False, False, False, False, False, False, False, True, False, False]
True
[]
----- 23
from
Token.Keyword
[False, True, False, False, False, False, False, False, False, False, False]
False
[]
----- 24


Token.Text.Whitespace.Newline
[False, True, False, False, False, False, False, False, False, False, False]
False
[]
----- 25

Token.Text.Whitespace
[False, True, False, False, False, False, False, False, False, False, False]
False
[]
----- 26

Token.Text.Whitespace
[False, True, False, False, False, False, False, False, False, False, False]
False
[]
----- 27

Token.Text.Whitespace
[False, True, False, False, False, False, False, False, False, False, False]
False
[]
----- 28

Token.Text.Whitespace
[False, True, False, False, False, False, False, False, False, False, False]
False
[]
----- 29
table
Token.Keyword
[False, True, False, False, False, False, False, False, False, False, False]
False
[]
----- 30
;
Token.Punctuation
[False, True, False, False, False, False, False, False, False, False, False]
False
[]

In [18]:
a = stmt.tokens[15]
a

In [23]:
a.get_sublists

In [17]:
for i,token in enumerate(a.get_identifiers()):
    print(i)
    print(token)
    parser.process_identifier_select(token)

0
(
        c1.ctcpty = lag(c1.ctcpty) over (partition by c1.cid, c1.cis, c1.dsc order by c1.mstts),
        NULL, 'Y'
    ) flag_wrt_begin_asc
1
if

In [19]:
parser.process_identifierlist_if(a)

{'token': 'if',
 'type': 'column',
 'value': "( c1.ctcpty = lag(c1.ctcpty) over (partition by c1.cid, c1.cis, c1.dsc order by c1.mstts), NULL, 'Y' ) flag_wrt_begin_asc ,if"}

In [21]:
value = parser.cleanup_string(a.value)

In [24]:
value.rstrip().lower().endswith((',if', ' if'))

True

In [25]:
tmp = value.split(',')

In [29]:
first_half  = ','.join(tmp[:-1]).strip() # until last "if"
second_half = tmp[-1].strip()    # this is "if"

In [31]:
second_half

'if'

In [32]:
a

In [ ]:
a.value

In [ ]:
token.tokens[-1]

In [ ]:
a = token.tokens[-1]

In [ ]:
from sqlparse.tokens import Keyword

In [ ]:
a.ttype is Keyword and a.value.lower() == 'if'

In [ ]:
tmp = '(avere) aaavdvd ,if'

tmp.split(',')